/* Updated style.css for larger buttons */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row; /* Align items horizontally */
    text-align: center;
    /* background-color: #fa6efb; */
    /* background-image: linear-gradient(43deg, #fa6efb 0%, #fd72d1 46%, #ff004b 100%); */
    
}

.background { 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    background-image: url('../images/0.webp');
    background-size: cover; 
    background-position: center; 
    filter: blur(3px); 
    z-index: -1; 
} 

h1 {
    font-family: 'Romantic', sans-serif;
    font-size: 50px; 
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */

}

audio {
    display: none;
}

#toggleButton {
    position: fixed; /* Фіксуємо позицію кнопки */
    bottom: 20px; /* Відступ від низу екрану */
    left: 50%; /* Розміщуємо кнопку по центру горизонталі */
    transform: translateX(-50%);
    background-color: #50f609; /* Світло-сірий фон */
    border: none;
    color: #333; /* Темно-сірий текст */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px; /* Невелике закруглення кутів */
    transition: background-color 0.3s ease; /* Плавний перехід фону */
  }
  
  #toggleButton:hover {
    background-color: #ddd; /* Трохи темніший фон при наведенні */
  }


/* Updated style.css for larger buttons with closer floating heart emojis effect */
.yesButton {
    position: relative;
    margin: 20px;
    font-size: 24px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply backdrop blur effect */
    transition: background-color 0.3s ease;
    color: white;
    overflow: hidden;
    font-family: 'Romantic', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

}

.yesButton::before {
    content: '🥰'; /* Heart emoji or use '\2764' for the heart symbol */
    position: absolute;
    left: 50%;
    bottom: -20px; /* Start below the button */
    transform: translateX(-50%);
    font-size: 100px; /* Adjust size of the heart emoji */
    opacity: 0; /* Start fully transparent */
    transition: all 0.5s ease; /* Smooth transition for the effect */
}

.yesButton:hover::before {
    bottom: 120%; /* End position above the button */
    opacity: 1; /* Fully visible at the end */
    animation: floatUp 2s ease-in-out infinite;
}

.noButton {
    position: relative;
    margin: 20px;
    font-size: 24px;
    cursor: pointer;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply backdrop blur effect */
    transition: background-color 0.3s ease;
    color: white;
    overflow: hidden;
    font-family: 'Romantic', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.noButton::before {
    content: '🥺'; /* Heart emoji or use '\2764' for the heart symbol */
    position: absolute;
    left: 50%;
    bottom: -20px; /* Start below the button */
    transform: translateX(-50%);
    font-size: 100px; /* Adjust size of the heart emoji */
    opacity: 0; /* Start fully transparent */
    transition: all 0.5s ease; /* Smooth transition for the effect */
}

.noButton:hover::before {
    bottom: 120%; /* End position above the button */
    opacity: 1; /* Fully visible at the end */
    animation: floatUp 2s ease-in-out infinite;
}

@keyframes floatUp {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        bottom: 120%; /* Move up till it's above the button */
        opacity: 0;
    }
}

.yesButton:hover {
    background-color: #fbafaf;
}
.noButton:hover {
    background-color: #fbafaf;
}

.emoji {
    position: fixed;
    left: 50%;
    font-size: 50px;
    animation: drop 5s linear forwards;
}

#gif {
    width: auto;
    height: 400px;
}

@keyframes drop {
    from {
        top: -50px;
    }
    to {
        top: 100vh; /* Adjust if you want it exactly at the bottom edge considering emoji size */
    }
}
